:root{
    --site-primary:#016c2f;
    --site-secondary:#64dc98;
    --site-white:#ffffff;
    --site-hover:#;

    --site-font-primary:"Playfair Display", serif;
    
    --site-heading-font:40px;

    --site-btn-font:18px;

    --site-box-font-size:20px;

    --site-font-size:16px;
}  


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container,.container-fluid{--bs-gutter-x:1.5rem;--bs-gutter-y:0;width:100%;padding-right:12px;padding-left:12px;margin-right:auto;margin-left:auto}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:100%;}}@media (min-width:1200px){.container{max-width:1170px}}@media (min-width:1400px){.container{max-width:1424px}}.row{display:flex;flex-wrap:wrap;margin-right:-12px;margin-left:-12px}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:12px;padding-left:12px;}.col-1 {flex: 0 0 auto;width: 8.33333333%}.col-2 {flex: 0 0 auto;width: 16.66666667%}.col-3 {flex: 0 0 auto;width: 25%}.col-4 {flex: 0 0 auto;width: 33.33333333%}.col-5 {flex: 0 0 auto;width: 41.66666667%}.col-6 {flex: 0 0 auto;width: 50%}.col-7 {flex: 0 0 auto;width: 58.33333333%}.col-8 {flex: 0 0 auto;width: 66.66666667%}.col-9 {flex: 0 0 auto;width: 75%}.col-10 {flex: 0 0 auto;width: 83.33333333%}.col-11 {flex: 0 0 auto;width: 91.66666667%}.col-12 {flex: 0 0 auto;width: 100%}
@media (min-width: 576px) {.col-sm-1 {flex: 0 0 auto;width: 8.33333333%}.col-sm-2 {flex: 0 0 auto;width: 16.66666667%}.col-sm-3 {flex: 0 0 auto;width: 25%}.col-sm-4 {flex: 0 0 auto;width: 33.33333333%}.col-sm-5 {flex: 0 0 auto;width: 41.66666667%}.col-sm-6 {flex: 0 0 auto;width: 50%}.col-sm-7 {flex: 0 0 auto;width: 58.33333333%}.col-sm-8 {flex: 0 0 auto;width: 66.66666667%}.col-sm-9 {flex: 0 0 auto;width: 75%}.col-sm-10 {flex: 0 0 auto;width: 83.33333333%}.col-sm-11 {flex: 0 0 auto;width: 91.66666667%}.col-sm-12 {flex: 0 0 auto;width: 100%}}@media(min-width:768px){.col-md-1 {flex: 0 0 auto;width: 8.33333333%}.col-md-2 {flex: 0 0 auto;width: 16.66666667%}.col-md-3 {flex: 0 0 auto;width: 25%}.col-md-4 {flex: 0 0 auto;width: 33.33333333%}.col-md-5 {flex: 0 0 auto;width: 41.66666667%}.col-md-6 {flex: 0 0 auto;width: 50%}.col-md-7 {flex: 0 0 auto;width: 58.33333333%}.col-md-8 {flex: 0 0 auto;width: 66.66666667%}.col-md-9 {flex: 0 0 auto;width: 75%}.col-md-10 {flex: 0 0 auto;width: 83.33333333%}.col-md-11 {flex: 0 0 auto;width: 91.66666667%}.col-md-12 {flex: 0 0 auto;width: 100%}}@media(min-width:992px){.col-lg-1 {flex: 0 0 auto;width: 8.33333333%}.col-lg-2 {flex: 0 0 auto;width: 16.66666667%}.col-lg-3 {flex: 0 0 auto;width: 25%}.col-lg-4 {flex: 0 0 auto;width: 33.33333333%}.col-lg-5 {flex: 0 0 auto;width: 41.66666667%}.col-lg-6 {flex: 0 0 auto;width: 50%}.col-lg-7 {flex: 0 0 auto;width: 58.33333333%}.col-lg-8 {flex: 0 0 auto;width: 66.66666667%}.col-lg-9 {flex: 0 0 auto;width: 75%}.col-lg-10 {flex: 0 0 auto;width: 83.33333333%}.col-lg-11 {flex: 0 0 auto;width: 91.66666667%}.col-lg-12 {flex: 0 0 auto;width: 100%}}@media (min-width: 1200px) {.col-xl-1 {flex: 0 0 auto;width: 8.33333333%}.col-xl-2 {flex: 0 0 auto;width: 16.66666667%}.col-xl-3 {flex: 0 0 auto;width: 25%}.col-xl-4 {flex: 0 0 auto;width: 33.33333333%}.col-xl-5 {flex: 0 0 auto;width: 41.66666667%}.col-xl-6 {flex: 0 0 auto;width: 50%}.col-xl-7 {flex: 0 0 auto;width: 58.33333333%}.col-xl-8 {flex: 0 0 auto;width: 66.66666667%}.col-xl-9 {flex: 0 0 auto;width: 75%}.col-xl-10 {flex: 0 0 auto;width: 83.33333333%}.col-xl-11 {flex: 0 0 auto;width: 91.66666667%}.col-xl-12 {flex: 0 0 auto;width: 100%}}@media (min-width: 1400px) {.col-xxl-1 {flex: 0 0 auto;width: 8.33333333%}.col-xxl-2 {flex: 0 0 auto;width: 16.66666667%}.col-xxl-3 {flex: 0 0 auto;width: 25%}.col-xxl-4 {flex: 0 0 auto;width: 33.33333333%}.col-xxl-5 {flex: 0 0 auto;width: 41.66666667%}.col-xxl-6 {flex: 0 0 auto;width: 50%}.col-xxl-7 {flex: 0 0 auto;width: 58.33333333%}.col-xxl-8 {flex: 0 0 auto;width: 66.66666667%}.col-xxl-9 {flex: 0 0 auto;width: 75%}.col-xxl-10 {flex: 0 0 auto;width: 83.33333333%}.col-xxl-11 {flex: 0 0 auto;width: 91.66666667%}.col-xxl-12 {flex: 0 0 auto;width: 100%}}.text-center{text-align:center;}.text-start{text-align:left;}.text-end{text-align:right;}.d-flex {display: flex}.d-inline-flex {display: inline-flex}.d-none {display: none}.justify-content-start {justify-content: flex-start}.justify-content-end {justify-content: flex-end}.justify-content-center {justify-content: center}.justify-content-between {justify-content: space-between}.align-items-start {align-items: flex-start}.align-items-end {align-items: flex-end}.align-items-center {align-items: center}.align-content-start {align-content: flex-start}.align-content-end {align-content: flex-end}.align-content-center {align-content: center}.align-content-between {align-content: space-between}.w-100{width: 100%;}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}button{border:none;outline:none;appearance:none;-webkit-appearance:none;font-family: var(--site-font-primary);} input, optgroup, select{outline:none !important;font-family: var(--site-font-primary);box-shadow:none !important;background: var(--site-white);height:50px;width:100%;appearance:none;-webkit-appearance:none;}button{outline:none !important;font-family: var(--site-font-primary);box-shadow:none !important;appearance:none;-webkit-appearance:none;}
    textarea{outline:none !important;font-family: var(--site-font-primary);box-shadow:none !important;width:100%;resize:none;appearance:none;-webkit-appearance:none;}b, strong {font-weight: bold;}em {font-style: italic;}cite {font-style: italic;}img{max-width:100%;}del{text-decoration: line-through;}
.center-text{text-align: center;}

*{font-size:var(--site-font-size);margin:0px;padding:0px;box-sizing:border-box;text-decoration:none;-webkit-text-size-adjust: 100%;}
html, body, ul, ol, li, p{font-style: normal;font-weight: normal;font-size:var(--site-font-size);line-height:var(--site-font-line-height);list-style:none;color:var(--site-text);font-family: var(--site-font-primary);}
p a,
p a:hover{text-decoration:none;}
a{display: inline-block;}
.wht,
.wht p{color: var(--site-white) !important;}


.whysybx,
.whysybx p {font-style: normal;font-weight: 400;font-size: var(--site-font-size);line-height: 1.6;color: var(--site-text);margin-top: 20px;}
.site-heading-wrap .whysybx{margin: 30px auto 0 !important;}
.site-heading-wrap .whysybx p{color: var(--site-secondary);}
.whysybx a,
.whysybx p a,
.whysybx p span,
.whysybx li span{text-decoration:none;}
.whysybx a,
.whysybx p a{color: var(--site-primary);font-weight: 700;}
.whysybx:first-child,
.whysybx p:first-child{margin-top:0px;}
.whysybx ul,
.whysybx ol {margin: 30px 0 0;list-style: none;}
.whysybx ul:first-child,
.whysybx ol:first-child {margin: 0px;}
.whysybx li {padding-left: 49px;position: relative;font-style: normal;font-weight: normal;font-size: var(--site-font-size);line-height: 1.3;color: var(--site-text);margin: 20px 0px 0px 0px;}
.whysybx li:first-child {margin-top: 0px;}
.whysybx ul li:after {position: absolute;content: '';top: 1px;left: 0;width: 27px;height: 27px;background:url(images/list-icon.svg) no-repeat center center;}
.whysybx ol {counter-reset: item;}
.whysybx ol li {counter-increment: my-awesome-counter;padding-left: 49px;}
.whysybx ul ol li {padding-left: 25px;}
.whysybx ol ol li{padding-left: 44px;}
.whysybx ol ul li:before,
.whysybx ul ol li:after {display: none;}
.whysybx ol ul ol li:after, .whysybx ul ol ul li:after {display: block;}
.whysybx ol ul, .whysybx ol ol, 
.whysybx ul ol, .whysybx ul ul {padding-left: 25px;}
.whysybx ol li:before {content: counters(item, ".") ".";counter-increment: item;position: absolute;left: 0;text-align: right;width: 32px;font-weight: 700;color: var(--site-primary);font-size: var(--site-font-size);}

.site-heading-wrap{position: relative;}
.site-heading{font-style: normal;font-weight: 700;font-size: var(--site-heading-font);line-height:1.3;color: var(--site-heading-text-color);margin-top:0px;text-transform: uppercase;}
.site-heading span {color: var(--site-title-text);}
.site-btn-wrap{margin-top:30px;}
.site-btn {border-radius:10px;padding: 12px 30px;font-style: normal;font-weight: 600;font-size: var(--site-btn-font);line-height:1.2;display:inline-flex;text-decoration:none;border:none;box-shadow:none !important;outline:none !important;overflow:hidden !important;position: relative;background: var(--site-primary);color: var(--site-white);text-align: center;text-transform: initial;margin-top:0;justify-content: center;cursor:pointer;appearance:none;-webkit-appearance:none;transition: 0.2s; -webkit-transition: 0.2s;}
.site-btn-wrap .site-btn:last-child{margin-right:0px;}

.slick-slider {position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list {position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer;cursor: pointer;}
.slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before, .slick-track:after {display: table;content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide {float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}


/* Header section */
.header-sec {background: #fff;height: 73px;z-index: 6;}
.header-logo img {width: 170px;height: 70px;object-fit: contain;}
.inner-header-sec {display: flex;justify-content: space-between;align-items: center;}
.header-list-wrap{display: flex;}
.header-inner-list{padding: 0 50px;}
.header-search{font-size: 0;background: url(images/search-icon.svg) no-repeat center center;width: 31px;height: 31px;}
.header-inner-list a {color: var(--site-primary);padding: 10px 0;border-bottom: 3px solid transparent;}
.header-inner-list a {font-size: 20px;}

.menu-toggle, .mob-menu-sec{display: none;}
.mob-menu-sec .humburger-btn {font-size: 0;display: inline-block;width: 35px;height: 35px;background-image: url(images/header-close-icon.svg);background-repeat: no-repeat;background-position: center;background-size: 17px;margin: 0;cursor: pointer;}
.mob-menu-right-wrap {max-height: calc(100vh - 130px);overflow: auto;margin-top: 0;}
.mob-header-list-wrap li {margin: 30px 10px;}
.menu-toggle {display: inline-block;width: 36px;height: 25px;text-indent: -10000px;margin: 0 0 0 20px;margin-left: 20px;background: url(images/huberg.svg) no-repeat center center;background-size: auto;background-size: auto;position: relative;background-size: 34px;border: 0;display: none;cursor: pointer;}
.mob-menu-wrap {position: fixed;left: 100%;top: 0;height: 100%;transition: 0.3s;-webkit-transition: 0.3s;width: 100%;z-index: 999;display: flex;height: 100vh;}
.menuopen .mob-menu-wrap {left: 0;}
.mobile-menu-left {width: 60%;background-color: var(--site-secondary);opacity: 0.3;font-size: 0;}
.mobile-menu-right {width: 40%;background-color: var(--site-white);}

.fixed .header-fixed{position: fixed;top: 0;left: 0;width: 100%;-webkit-animation-name: stickySlideDown;animation-name: stickySlideDown; -index: 9999;background: white;box-shadow: 0 5px 10px rgba(0, 0, 0, .2);}
.header-fixed{animation-duration: .7s;-webkit-animation-duration: .7s;}

/* Banner-sec */
.banner-sec {position: relative;overflow: hidden;}
.banner-content {position: absolute;top: 0;padding-top: 130px;}
.site-title {max-width: 488px;font-size: 70px;font-weight: 700;line-height: 1.2;}
.banner-content .whysybx{max-width: 490px;}
.banner-img img {height: 850px;width: 100%;display: block;object-fit: cover;}

.counter-slider-title {font-size: var(--site-box-font-size);font-weight: 800;line-height: 1;max-width: 286px;width: 100%;}
.banner-box {position: relative;margin-top: 150px;}
ol {counter-reset: item;}
.counter-slider-wrap ol li{position: relative;counter-increment: my-awesome-counter;}
.counter-slider-wrap ol li::before {position: absolute; content: "0" counters(item, ".");counter-increment: item;left: 10px;text-align: right;color: #ffffff;font-size: 40px;font-weight: 800;top: 90px;}

@media(min-width:1200px){
    .header-search:hover{background: url(images/search-icon-hover.svg) no-repeat center center;}
    .header-inner-list a:hover {color: var(--site-secondary);border-bottom: 3px solid var(--site-secondary);}
    .site-btn:hover{background: var(--site-secondary);color: var(--site-black);}
}

@media(max-width:1199px){
    .site-title{font-size: 40px;}
    .banner-content{ padding-top: 80px;}
    .banner-img img {height: 600px;}

    .banner-box{margin-top: 100px;}
    .counter-slider-wrap ol li::before{top: 40px;}
}

@media(max-width:991px){
    .header-logo img {width: 170px;height: 70px;}
    .header-inner-list {padding: 0 30px;}
    .whysybx, .whysybx p{margin-top: 10px;}

}

@media(max-width:767px){
    .site-title{font-size: 40px;}
    .site-btn{padding: 8px 20px;}
    .site-btn-wrap {margin-top: 20px;}
    .banner-img img {height: 840px;}
    .banner-content .whysybx {max-width: 340px;}

    .mobile-menu-left,
    .mobile-menu-right{width: 50%;}
    .mobile-menu-header {display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #016c2f;padding: 0px 20px;}
    .header-list,.header-search {display: none;}
    .menu-toggle, .mob-menu-sec{display: block;}

    .banner-box{margin-top: 70px;}
    .counter-slider-wrap ol li::before{top: 20px;}
}

@media(max-width:480px){
    .site-title{font-size: 28px;}
    .banner-content{ padding-top: 40px;}
    .mobile-menu-left{width: 0;}
    .mobile-menu-right {width: 100%;}
    .mobile-menu-header{padding: 10px;}
}